@model IEnumerable<Expense_Tracker.Model.Expense>

<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/Basic_Common.cshtml";
}
@Html.Raw(TempData["InsertMessage"])
@Html.Raw(TempData["UpdateMessage"]))
<html>
<body class="bg-gradient-primary">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body" style="background-color:#B4C9C7">
                <div>
                    <h1 class="h3 mb-2 text-gray-800" style="text-shadow:1px 1px 2px red,0 0 1em grey,0 0 0.2em grey;"><b>Expense List</b></h1>
                    <a class="link-primary" href="/Expense" style="padding-left:85em;">Add Expense</a>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Expense_Title</th>
                                <th>Expense_Description</th>
                                <th>Expense_Amount</th>
                                <th>Expense_Category</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ExpenseTitle</td>
                                        <td>@item.ExpenseDescription</td>
                                        <td>@item.ExpenseAmount</td>

                                        <td>@item.ExpenseCategory</td>
                                        <td>
                                            <a href="/ExpenseEdit?id=@item.ID"><i class="fa-solid fa-pen"></i></a>
                                            &emsp;
                                            <a href="/DeleteView?id=@item.ID"><i class="fa-solid fa-trash"></i></a>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
